@import './system';
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $pageBg;
  display: flex;
  flex-direction: column;
}

.main {
  display: grid;
  grid-template-columns: 240px 1fr;
  flex: 1; 
  height: calc(100vh - 64px); 
  gap: 32px;
}
.content{
  height: 100%;
  width: 100%;
}
ul, li{
  list-style: none;
}
p {
  @include text($text, 16px);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input{
  padding: 0 4px 0 8px;
  border-radius: 10px;
  border: 2px solid $text;
  cursor: pointer;
  @include text(18px, 500);
  &:hover{
    border: 2px solid $red;
  }
}
::placeholder {
  @include text(16px, 300);
  opacity: 1; 
  }


a {
  color: inherit;
  text-decoration: none;
}

@media(max-width: 678px){
  body{
    @include text($text, 14px)
  }
}
