@import "../../styles/system";
.single-lessons-list{
  @include flex(row, flex-start, center);
  gap: 30px;
}
.single-lesson{
    position: relative;
    width: 240px;
    border-radius: 20px;
    overflow: hidden;
    background: #ffffff;
    transition: .3s;
    &:hover{
        box-shadow:  0 0 12px rgba(0, 0, 0, 0.2);
    }
}
.type-icon{
    position: absolute;
    top: 10px;
    left: 10px;
}
.sibgle-lesson-thumbnail{
    min-height: 120px;
    @include bg("/img/flag.jpg");
}
.single-lesson-info-wrap{
  padding: 16px;
  @include flex(column, center, flex-start);
  gap: 8px;
}
.sibgle-lesson-name{
    @include text(24px, 600, $text);
}
.sibgle-lesson-duration, .sibgle-lesson-level{
    @include text(16px, 400, $text);
}