@import "../../styles/system";

.filters{
    @include flex(row, flex-start, center);
    position: relative;
    width: 100%;
    padding: 8px 24px;
    margin-top: 16px;
    border-radius: 50px 0 0 50px;
    background: $primary;
    gap: 32px;
    margin-bottom: 40px;
}
.filters-title{
    @include text(20px, 400, #ffffff);
}
.filters-desc{
    @include text(14px, 300, #ffffff);
}
